@media screen and (min-width: 480px) {
  .faq {
    max-width: 900px;
  }
  .faq__container {
    padding: 0px 20px;
  }

  .flaq__content {
    padding: 20px 0px;
  }
  .faq__title {
    font-family: 'Josefin Sans';
    font-weight: 700;
    font-size: 72px;
    text-transform: uppercase;
    color: #7c7a7a;
    display: flex;
    justify-content: flex-end;
  }
  .wrap-flaf__list {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .flaq__list {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .flaq__link {
    font-family: 'Josefin Sans';
    font-weight: 700;
    color: red;
    font-size: 26px;
    text-align: left;
  }
  .flaq__link::after {
    content: '';
    display: block;
    height: 2px;
    background-color: #000;
    margin-top: 5px;
    left: 0;
  }
}
