.hero__section {
  background-color: #000;
  overflow: hidden;
  position: absolute;
}
.hero {
  background-color: #000;
}
.hero > .hero__container {
  padding: 20px;
  width: 100%;
  position: absolute;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
}
.hero__inner {
  width: 100%;
  height: 900px;
  position: relative;
  justify-content: space-between;
  display: flex;
  padding: 20px;
}
.logo__content {
  position: absolute;
  top: 20px;
  left: 15px;
  z-index: 3;
}
.menu__list {
  position: relative;
  z-index: 1;
  width: 50%;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 70px;
}
.menu-list__item {
  display: flex;
  width: 131px;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.menu-list__item:nth-child(1) {
  padding-left: 90%;
}
.menu-list__item:nth-child(2) {
  padding-left: 75%;
}
.menu-list__item:nth-child(3) {
  padding-left: 50%;
}
.menu-list__item:nth-child(4) {
  padding-left: 50%;
}
.menu-list__item:nth-child(5) {
  padding-left: 75%;
}
.menu-list__item:nth-child(6) {
  padding-left: 90%;
}

.list-item__text {
  font-size: 30px;
  line-height: 1.2;
  color: #fff;
}
/*.wrap__sections {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}*/

.wrap__button {
  position: absolute;
  top: 50%;
  left: 48%;
}
.button__menu-open {
  position: absolute;
  display: block;
  top: 50%;
  left: 48%;
  width: 127px;
  height: 127px;
  border-radius: 100%;
  background-color: rgb(0, 0, 0, 70%);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 3;
  border: 3px solid #fff;
  transform: rotate(180deg);
}

.page__menu {
  width: 50%;
  display: flex;

  height: 100%;
  position: absolute;
  top: 10px;
  right: 20px;
}
.page__list {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.page__inner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}
/*.js-open-contacts:focus + .page__contacts {
  transform: translateY(2%);*/

.page__contacts {
  width: 100%;
  transition: transform 0.8s ease;
  transform: translateY(-93%);
}

.page-contacts__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.page-contacts__address {
  z-index: 1;
  display: flex;
  padding-left: 60px;
  flex-direction: column;
  gap: 50px;
  padding-top: 110px;
  position: relative;
}
.mail__link,
.phone__link,
.address__description {
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.phone__link {
  margin-bottom: 0px;
}
.mail__link {
  margin-bottom: 0px;
}
.phone__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page__item-contacts {
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.address__map {
  width: 620px;
}
.contacts__date {
  display: flex;
  flex-direction: row;
  gap: 30%;
}
.wrap__button-contacts {
  position: absolute;
  right: 0px;
  bottom: 20px;
  z-index: 2;
  padding: 0;
}
.button__contacts {
  justify-content: center;
  flex-direction: column;
  /*align-items: self-end;*/
  align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}

.contacts-toggle:focus::before {
  content: '';
  width: 900px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.before {
  content: '';
  width: 850px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.contacts__icon {
  cursor: pointer;
  bottom: 3px;
  right: 0px;
}

.contacts-toggle {
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 24px;
  font-weight: 400;
  outline: none;

  transition: transform 1s ease;
}

/*----------page__about-us----------*/
.page__about-us {
  width: 100%;
  height: 100%;
  transform: translateY(92%);
  transition: transform 0.8s;
  position: absolute;

  /* position: absolute;
  transform: translateY(20%);
  position: relative;
  transition: transform 0.5s ease;*/
}

.wrap__about-us-container {
  flex-direction: column;
  max-width: 850px;
  gap: 50px;
  padding-top: 80px;
  display: flex;
  padding-left: 60px;
}
.page-about-us__container {
  position: absolute;
  top: 60px;
  left: 80px;
  right: 20px;
}

/*.button__about-us:focus + .wrap__button-about-us {
  top: 20px;
  bottom: 0px;
}*/

.wrap__button-about-us {
  position: absolute;
  top: 20px;
  right: 0px;
  outline: none;
}

.icon__about-us {
  transform: rotate(-90deg);
  cursor: pointer;
}

.button__about-us {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}

.js-open-about-us:focus + .icon__about-us {
  display: block;
  /* transform: rotate(180deg);*/
}

.js-open-about-us {
  font-size: 24px;
  text-align: right;
  background-color: #000;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.2;

  color: #fff;
  z-index: 1;
  border: none;
  outline: none;
}
.js-open-about-us:visited,
.js-open-about-us:focus::after {
  content: '';
  width: 800px;
  margin-bottom: -5px;
  height: 2px;
  background-color: #fff;
  z-index: 1;
  display: block;
}
.about-us__inner {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us-item__text,
.about-us__text {
  font-family: JournalSans;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 1.7;
}
.about-us__list {
  padding-left: 20px;
}
.about-us-item__text {
  line-height: 1.6;
}
.ceo__block {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.ceo__text {
  font-family: JournalSans;
  font-weight: 400;
  color: #fff;
}
.ceo__text1 {
  font-size: 16px;
  line-height: 1.5;
}
.ceo__role {
  font-size: 20px;
  line-height: 1.5;
}
.ceo__name {
  font-size: 24px;
  line-height: 1.5;
}

.swiper__hero {
  position: absolute;
  top: 0px;
}

.img-slide__mob {
  display: none;
}
.wrap__slide {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  height: 900px;
}
.left-slide {
  position: relative;
}
.wrap__img {
  position: relative;
  object-fit: cover;
}
.wrap__rigth-slide {
  background-position: right;
  position: relative;
  transition: transform 1s ease;
  animation: animationRight 1s linear infinite forwards alternate;
}
/*
@keyframes animationRight {
  0% {
    transform: translateY(-250%);
  }
  14% {
    transform: translateY(-200%);
  }
  28% {
    transform: translateY(-100%);
  }
  42% {
    transform: translateY(0%);
  }
  58% {
    transform: translateY(-100%);
  }
  72% {
    transform: translateY(-200%);
  }
  86% {
    transform: translateY(-250%);
  }
  100% {
    transform: translateY(0%);
  }
}*/
.wrap__left-slide {
  background-position: left;
  position: relative;
  transition: transform 1.5s ease;
  animation: animationLeft 1.5s linear infinite forwards alternate;
}

/*@keyframes animationLeft {
  0% {
    transform: translateY(0%);
  }
  14% {
    transform: translateY(-100%);
  }
  28% {
    transform: translateY(-200%);
  }
  42% {
    transform: translateY(-250%);
  }
  58% {
    transform: translateY(-250%);
  }
  72% {
    transform: translateY(-200%);
  }
  86% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}*/

.title__right {
  max-width: 1920px;
  top: 0%;
  padding-left: 0%;
  font-size: 130px;
  line-height: 0.5;
  width: 100%;
  height: 100%;
  padding-top: 300px;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
}

.title__left {
  /* @include font(400, 130px, 1.5, null);*/
  top: 0%;
  padding-top: 300px;
  font-size: 130px;
  width: 100%;
  height: 100%;
  line-height: 0.5;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
}
