.hero {
  position: relative;
  z-index: 1;
  background-color: black;
}

.wrap__slide {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: space-between;
}

.wrap__img {
  position: relative;
}
.wrap__rigth-slide,
.wrap__left-slide {
  display: block;
  position: relative;
  width: 50%;
  background-position: left;
}
.wrap__rigth-slide {
  background-position: right;
}
.img__slide {
  position: relative;
}
.text-overlay__right {
  padding-left: 0%;
  font-size: 130px;
  width: 100%;
  height: auto;
  padding: 50% 0%;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 22;
}
.text-overlay__left {
  padding-right: 0%;
}
.text-overlay__left {
  /* @include font(400, 130px, 1.5, null);*/
  font-size: 130px;
  width: 100%;
  height: auto;
  padding: 50% 0%;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  z-index: 22;
}
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}
