body {
  max-width: 1920px;
  background-color: #fff;
  width: 100%;
  font-size: 16px;
  justify-content: center;
}
/*------ mob-slide -----*/
@media screen and (min-width: 480px) {
  .slide {
    display: block;
    width: 100%;
    height: 100%;
  }
.wrap-container__mob-slide,.container__mob-slide {
  position: relative;
    width: 100%;
    height: 100%;
    z-index: 31;
 
  }
.img__slide {
display: block;
  width: 100%;
  height: 100%;
}
.wrap__mob-slide {
  position: relative;
 height: 100%;
}
.wrap__slide-up,
.wrap__slide-down {
display: block;
  height: 50%;
}

.wrap__slide-down {
  bottom: 0px;
}
.mob__slide-up,
.mob__slide-down {
  position: relative;
  width: 300%;
  height: 50%;
  display: flex;
  flex-direction: row;
 
}
.mob__slide-down {
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 20s ease;
  animation:  10s linear infinite forwards reverse;
 
}
@keyframes animationDown {
  0%,100%
 {
    transform: translateX(0%);
    opacity: 1;

  }
 25% {
    transform: translateX(-100%);
    opacity: 0;
  }
 50% {
    transform: translateX(-200%);
    opacity: 0;
  }
}
.mob__slide {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: center;
  align-items: center;

}
.mob__img-slide {
  display: block;
   width: 100%;
  height: 100%;
 
}
.img-slide__mob {
  display: block;
  width: 100%;
  height: auto;
 
  
}
@media (min-width: 769px) {
  .img-slide__mob{
    max-width: 100%;
    height: auto;
  }
}
.swiper__hero {
  position: absolute;
  top: 0px;
  overflow: hidden;
  height: 820px;
  height: 100%;
  width: 100%;
}
.wrap__slide {
  display: none;
}
.img-slide__desc {
  display: none;
}
}

/*------ wrap__slide -----*/
@media screen and (min-width: 1200px) {
  .wrap-container__mob-slide {
    display: none;
  }
  .img-slide__mob { 
    display: none;
  }
  .img-slide__desc { 
   display: block;
  }
  .wrap__slide {
    display: block;
  }

.img-slide__mob {
  display: none;
}
.wrap__slide {
  position: relative;
  width: 100%;
  z-index: 31;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  transition: transform 2s ease;
}
.wrap__slide.element.style {
  display: block;
}
.wrap-container__left-slide {
  width: 100%;
  height: 100%;
}
.wrap-container__right-slide {
  width: 100%;
  height: 100%;
}

.wrap__left-slide {
  margin: 0;
  /* width: 50%;*/
  display: flex;
  flex-direction: column;
  transform: translateY(0%);
  transition: transform 20s ease;
  animation: animationLeft 15s linear infinite forwards alternate;
}
.wrap__right-slide {
  position: relative;
  margin: 0;
  /* width: 50%;*/
  display: flex;
  transform: translateY(0%);
  flex-direction: column;
  transition: transform 20s ease;
  animation: animationRight 15s linear infinite forwards alternate;
}

.wrap__img {
  position: relative;
  object-fit: cover;
}
.wrap__left-slide::before {
  content: ''; /* Додаємо порожній контент для псевдоелемента */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: transparent;
  animation: animationLeft 5s linear infinite; /* Анімація зупинки на 2 секунди */
}

@keyframes animationLeft {
  0%,
  100% {
    transform: translateY(0%);
  }
  33% {
    transform: translateY(-35%);
  }
  66% {
    transform: translateY(-65%);
  }
}

@keyframes animationRight {
  0% {
    transform: translateY(-65%);
  }
  33% {
    transform: translateY(-35%);
  }
  66% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-65%);
  }
}
.button__menu-open:focus animationLeft,
animationLeft {
  animation-play-state: paused;
}

.title__right {
  max-width: 1920px;
  top: 0%;
  padding-left: 0%;
  font-size: 100px;
  line-height: 0.5;
  width: 100%;
  height: 100%;
  padding-top: 300px;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
}

.title__left {
  /* @include font(400, 130px, 1.5, null);*/
  top: 0%;
  padding-top: 300px;
  font-size: 100px;
  width: 100%;
  height: 100%;
  line-height: 0.5;
  font-family: 'Fiver';
  background-color: rgba(47, 48, 58, 0.4);
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  position: absolute;
  text-align: right;
}
@media screen and (min-width: 1400px) {
  .title__right,.title__left {
    font-size: 130px;
  }
}

.img__left-slide {
  position: relative;
}
/*.wrap__img {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%; /* Забезпечує вирівнювання по вертикалі 
}*/
.img__slide {
  display: block;
  width: 100%;
  height: auto;
}

.img-slide__desc {
  position: relative;
}

.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 3;
}
}