.page__about-us {
  top: 50px;
 right: 0;
  width: 100%;
  height: 100%;
  position: absolute;

  /* position: absolute;
  transform: translateY(20%);
  position: relative;
  transition: transform 0.5s ease;*/
}

.wrap__about-us-container {
  width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
   padding-right: 20px;
 }
.page-about-us__container {
  display: none;
  position: absolute;
  top: 60px;
  left: 80px;
  right: 20px;
}

/*.button__about-us:focus + .wrap__button-about-us {
  top: 20px;
  bottom: 0px;
}*/

.wrap__button-about-us {
  position: absolute;
  top: 20px;
  right: 0px;
  outline: none;
}

.icon__about-us {
  transform: rotate(-90deg);
  cursor: pointer;
}
.wrap__icon-about-us::before {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  right: 0;
 
}

.button__about-us {
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}

.js-open-about-us:focus + .icon__about-us {
  display: block;
  /* transform: rotate(180deg);*/
}

.js-open-about-us {
  font-size: 24px;
  text-align: right;
  background-color: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  line-height: 1.2;

  color: #fff;
  z-index: 1;
  border: none;
  outline: none;
}

.about-us__inner {
 display: flex;
  flex-direction: column;
  gap: 30px;
}
.about-us-item__text,
.about-us__text {
  font-family: JournalSans;
  font-weight: 400;
  color: #fff;
  font-size: 16px;
  line-height: 1.7;
}

.about-us__list {
  padding-left: 20px;
  color: #fff;
  list-style-type: disc;
}
.about-us-item__text {
  line-height: 1.6;
}
.ceo__description { 
  font-style: italic;
}

.ceo__block {
padding-top: 20px;
  display: flex;
  padding-left: 25px;
  flex-direction: row;
  gap: 20px;
}
.ceo__text {
  font-family: JournalSans;
  font-weight: 400;
  color: #fff;
}
.ceo__text1 {
  font-size: 16px;
  line-height: 1.5;
}
.ceo__role {
  font-size: 20px;
  line-height: 1.5;
}
.ceo__name {
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}
