.page__contacts {
  width: 100%;
  transition: transform 0.8s ease;
  transform: translateY(-93%);
}

.page-contacts__container {
  width: 100%;
  height: 100%;
  display: flex;
  display: none;
}
.page-contacts__address {
  z-index: 1;
  display: flex;
  padding-left: 200px;
  flex-direction: column;
  gap: 50px;
  padding-top: 110px;
  position: relative;
}
.mail__link,
.phone__link,
.address__description {
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.phone__link {
  margin-bottom: 0px;
}
.mail__link {
  margin-bottom: 0px;
}
.phone__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page__item-contacts {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.address__map {
  width: 620px;
}
.contacts__date {
  display: flex;
  flex-direction: row;
  gap: 30%;
}
.wrap__button-contacts {
  position: absolute;
  right: 0px;
  bottom: 20px;
  z-index: 2;
  padding: 0;
  display: none;
}
.button__contacts {
  justify-content: center;
  flex-direction: column;
  /*align-items: self-end;*/
  align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}

.contacts-toggle:focus::before {
  content: '';
  width: 900px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.before {
  content: '';
  width: 850px;
  height: 2px;
  background-color: #fff;
  display: block;
}
.contacts__icon {
  cursor: pointer;
  bottom: 3px;
  right: 0px;
}

.contacts-toggle {
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 24px;
  font-weight: 400;
  outline: none;

  transition: transform 1s ease;
}
