@media screen and (min-width: 380px) {
  .page__contacts {
    display: none;
}
}
@media screen and (min-width: 1200px)
 {
  .page-hero__link {
  color: #fff;
  text-transform: uppercase;
  width: 150px;
  background-color: #0000;
  border: none;
  text-align: right;
  font-size: 20px;
  line-height: 1.1;
  display: block
}
}
  .page__contacts {
    display: block;
  width: 100%;
  height: 100%;
 
  /* transform: translateY(-93%);*/
}


.page-contacts__container {
  width: 100%;
  height: 100%;
  display: flex;
}
.page-contacts__address {
  display: flex;
flex-direction: column;
  gap: 50px;
  padding-top: 110px;
  position: relative;
}
.mail__link,
.phone__link,
.address__description {
  font-family: inherit;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
}
.phone__link {
  margin-bottom: 0px;
}
.mail__link {
  margin-bottom: 0px;
}
.phone__list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.page__item-contacts {
  display: none;
  position: absolute;
  right: 20px;
  top: 20px;
}
.address__map {
  width: 620px;
}
.contacts__date {
  display: flex;
  flex-direction: row;
  gap: 30%;
}
.wrap__contacts-link {
  position: absolute;
  width: 100%;
  transition: transform 7s ease;
  right: 0px;
 z-index: 32;
  padding: 0;
  top:0;
/*  background-color: #000;*/
 
}
.button__contacts {
  justify-content: center;
  flex-direction: column;
  /*align-items: self-end;*/
  align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}


.contacts-link__content {
  margin-right: 20px;
  justify-content: center;
  flex-direction: column;
align-items: flex-end;
  gap: 5px;
  display: flex;
  position: relative;
}
.wrap__contacts-icon {
  cursor: pointer;
  bottom: 3px;
  right: 0px;
  display: none;
}
.wrap__contacts-icon::after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #fff;
  right: 0;
}

.contacts-toggle {
  text-align: right;
  text-transform: uppercase;
  cursor: pointer;
  color: #fff;
  background-color: #000;
  border: none;
  font-size: 24px;
  font-weight: 400;
  outline: none;

  transition: transform 1s ease;
}
