@media screen and (min-width: 480px) {
  .selling__contant {
    padding: 20px;
  }
  .selling__img {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: flex-end;
    margin: 0;
  }
  .figcaption__text {
    transform: rotate(-90deg) translateY(-70%) translateX(30%);
    display: flex;
    font-weight: 700;
    font-size: 30px;
    color: #5b5b5b;
    letter-spacing: 0.08em;
  }
  .selling__text {
    max-width: 450px;
    display: flex;
    font-size: 18px;
    line-height: 1.4;
    color: #000;
    padding: 20px 0px;
  }
}
