@media screen and (min-width: 380px) {
  .wrap__hero-section {
    position: absolute;
   width: 100%;
   height: 100%;
   position: absolute;
    top: 0;
    overflow: hidden;
  }
  .hero__section {
    background-color: #000;
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
  }

  .hero__section > .hero__container {
    width: 100%;
    height: 100%
  }
  .wrap-hero__inner {
    position: relative;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  .hero__inner {
  position: relative;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: column;
  }
  .page__header { 
     position: fixed;
     margin: 0 auto;
    height: 170px;
    right: 0px;
    margin-right: 140px;
    display: flex;
    justify-content: space-between;
     background-color: #fff;
     top: 0;
    left: 0;
    z-index: 63;

    }
  .hero__header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
  }
  .page-header__container {
    position: relative;
    width: 100%;
  display: flex;
    justify-content: space-between;
  }
  .hero-header__container {
 position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
  .logo__content {
    z-index: 62;
    position: absolute;
    top: 20px;
    left: 20px
}

  .logo-img__black {
    display: none;
  }
  
.logo__mob-black {
  display: none;
}
 .logo__desktop-black {
  display: flex;
    position: relative;
    flex-direction: column;
    align-items: center;
 gap: 5px;
  }
  .logo__desktop  {
    flex-direction: column;
    align-items: center;
    display: flex;
    gap: 5px;
}
  
  .logo__text-black {
    color: #000;
    font-family: deserts, sans-serif;
    font-size: 36px;
    line-height: 1.2;
  }
  .logo__text-desktop {
    color: #fff;
    font-family: deserts, sans-serif;
    font-size: 20px;
    line-height: 1.2;
  }
  .logo__text-mob {
    color: #fff;
    font-family: deserts, sans-serif;
    font-size: 25px;
    line-height: 1.2;
  }
  .icon__phone-black {
    display: none;
    z-index: 63;
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
  .icon__phone-desc {
    position: absolute;
    top: 20px;
    z-index: 52;
    display: block;
    right: 20px;
    width: 50px;
    height: 50px;
  }
  .button__left-mob2,
  .button__right-mob2
  .button__left-mob,
  .button__right-mob,
  .button__right2,
  .button__left2, 
  .button__right,
  .button__left {
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    opacity: 0;
  }
  .button__right2 {
    padding-right: 8px;
  }
  .button__left2 {
    padding-left: 8px;
  }

 #toggle-button2 {
    display: none;
    position: absolute;
    z-index: 70;
    display: none;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 127px;
    height: 127px;
    border-radius: 100%;
    background-color: #000000b3;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 3px solid #fff;
    transition: transform 0.3s ease;
    transform: rotate(180deg);
}
  
 .button__menu-open-mob {
      position: absolute;
      z-index: 70;
      display: none;
      top: 44%;
      left: 50%;
      transform: translateX(-50%);
      width: 127px;
      height: 127px;
      border-radius: 100%;
      background-color: #000000b3;
     justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid #fff;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
    .button__menu-open {
      position: absolute;
      z-index: 70;
    top: 43%;
      left: 50%;
      transform: translateX(-50%);
      width: 127px;
      height: 127px;
      border-radius: 100%;
      background-color: rgb(0, 0, 0, 70%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid #fff;
      transition: transform 0.3s ease;
    
    }
  
   
    .button__menu-open-mob2 {
      position: absolute;
      z-index: 70;
      display: none;
      /*  display: flex;*/
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 127px;
      height: 127px;
      border-radius: 100%;
      background-color: rgb(0, 0, 0, 70%);
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid #fff;
      transition: transform 0.3s ease;
      transform: rotate(180deg);
    }
  .wrap-menu-button__list{
    justify-content: center;
    position: relative;
   width: 100%;
    z-index: 30;
    height: 100%;
    text-transform: uppercase;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: #424242;
    gap: 70px;
  }
  .menu-button__list {
    width: 100%;
    height:100%;
    z-index: 30;
    position: relative;
   list-style: none;
  }
  .wrap__page-contact {
  width: 100%;
  height: 100%;
 }
  .wrap__about-us-link {
    z-index: 52;
    background-color: transparent;
    padding: 0;
    position: absolute;
    bottom: 60px;
    right: 0px;
  }
  .wrap__contacts-link {
    z-index: 52;
    background-color: rgba(0,0,0,0);
    padding: 0;
    position: absolute;
    transform: rotate(-90deg);
  }
  .contacts-link__content {
  width: 100%;
  flex-direction: column;
   justify-content: center;
   align-items: flex-end;
   gap: 5px;
  left: 100px;
   display: flex;
   position: absolute;
   bottom: -40px;
  }
  .list-item__text {
    font-size: 30px;
    line-height: 1.2;
    color: #fff;
  }
  /*.menu-button__item {
   
  width: 100%;
    display: flex;
    width: 131px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }*/
  .menu__icon-mob {
    display: block;
  }
  .menu__icon {
    display: none;
  }
  

  .menu-button__item {
    transition: transform 0.5s ease;
    animation: none;
    position: absolute;
    width: 150px;
   }
   .menu-button__item:after {
    content: '';
    position: absolute;
    display: block;
    width: 18px;
    height: 18px;
    background: url('../images/polygon.svg') no-repeat center center;
    left: 50%;
   /* transform: translate(-50%, 100%);*/
  }

    .menu-button__item:nth-child(1) {
      position: absolute;
      animation-delay: 1000ms;
      animation: none;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
     transition: transform 0.5s ease;
  }
  
  @keyframes menuButton1 {
      0% {
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        opacity: 0;
      }
   
      100% {
          top: 22%;
          left: 50%;
          transform: translate(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(1).reverse {
      animation: menuButton1 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 2000ms;
  }
  
  .menu-button__item:nth-child(2) {
      position: absolute;
      animation: none;
      opacity: 0;
      animation-delay: 1200ms;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton2 {
      0% {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
      }
   
      100% {
          top: 38%;
          left: 20%;
          transform: translateX(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(2).reverse {
      animation: menuButton2 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 1800ms;
  }
  
  .menu-button__item:nth-child(3) {
      position: absolute;
      animation: none;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      animation-delay: 1400ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton3 {
      0% {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
      }
    
      100% {
          top: 65%;
          left: 80%;
          transform: translateX(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(3).reverse {
      animation: menuButton3 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 1600ms;
  }
  
  .menu-button__item:nth-child(4) {
      position: absolute;
      animation: none;
      opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      animation-delay: 1600ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton4 {
      0% {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
      }
     
      100% {
          top:38%;
          left: 80%;
          transform: translateX(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(4).reverse {
      animation: menuButton4 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 1400ms;
  }
  
  .menu-button__item:nth-child(5) {
    position: absolute;
    animation: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 1800ms;
    transition: transform 0.5s ease;
}
  
  @keyframes menuButton5 {
      0% {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
      }
    
      100% {
          top: 80%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(5).reverse {
    animation: menuButton5 2s reverse forwards 2s;
    transition: transform 0.5s ease;
    animation-delay: 1200ms;
}
  
  .menu-button__item:nth-child(6) {
    position: absolute;
    animation: none;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    animation-delay: 2000ms;
    transition: transform 0.5s ease;
}
  
  @keyframes menuButton6 {
      0% {
          top: 50%;
          left: 50%;
          transform: translateX(-50%);
          opacity: 0;
      }
     
      100% {
          top: 65%;
          left: 20%;
          transform: translateX(-50%);
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(6).reverse {
    animation: menuButton6 2s reverse forwards 2s;
    transition: transform 0.5s ease;
    animation-delay: 1000ms;
}
  .menu-button__item:nth-child(1)::after {
    transform: translate(-50%, 270%);
  }
  .menu-button__item:nth-child(2)::after,
  .menu-button__item:nth-child(4)::after {
    transform: translate(-50%, 150%);
  }
  .menu-button__item:nth-child(5)::after,
  .menu-button__item:nth-child(6)::after,
  .menu-button__item:nth-child(3)::after {
    transform: translate(-50%, 150%);
  }
  .wrap-menu__button {
    position: relative;
    width: 100%;
    width: 150px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    display: flex;
  }
  .menu__button {
    background: transparent;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    display: inline-block;
    position: absolute;
  }

  .menu-button__item:nth-child(5)::after,
  .menu-button__item:nth-child(6)::after,
  .menu-button__item:nth-child(3)::after {
    transform: translate(-50%, -150%);
  }

.wrap__button {
    position: absolute;
    top: 50%;
    left: 48%;
  }
  .about-us-link__content {
    width: 100%;
   flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 5px;
    right: -60px;
    display: flex;
    position: absolute;
  bottom: 0px;
  }
  .wrap__page-links-mob {
   width: 100%;
    z-index: 40;
   position: absolute;
  bottom: 0px;
  }
  .wrap__page-item-aboutus{
    position: relative;
    overflow: hidden;
  }
  .page__item-aboutus-mob {
       z-index: 2;
    float: right;
    width: 100%;
    position: absolute;
    top: 100px;
    bottom: 0px;
    left: 0;
    overflow: hidden;
  }
 
  .page-item-contact-mob {
    width: 100%;
  }
.page__links-mob {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    list-style: none;
  }
 
  .page__list {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
}
@media screen and (min-width: 768px) {
}
  @media screen and (min-width: 1200px) {
    .logo__mob { 
      display: none;
    }
    .button__menu-open-mob,
      .button__menu-open-mob2 {
        display: none;
       }
     .logo__desktop {
      display: none;
      flex-direction: column;
      align-items: center;
      display: flex;
    }
   .logo-img__white {
      display: block;
      width: 126px;
    }
    .logo-img__white,
    .logo-img__white {
     width: 126px;
     height: 104px;
    }
    .icon__phone-desc {
    display: block;
    }
   
    .logo__text-desktop,
    .logo__text-black { 
      font-size: 28px;
    }
    .icon__menu-button2 {
      transform: rotate(90deg);
    }
    .button__menu-open2 { 
      position: absolute;
      z-index: 70;
    opacity: 0;
      top: 50%;
      left: 50%;
      transform: translateX(-50%);
      width: 127px;
      height: 127px;
      border-radius: 100%;
      background-color: rgb(0, 0, 0, 70%);
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border: 3px solid #fff;
      transition: transform 0.3s ease;
      transform: rotate(-90deg);
    }
  
    .contacts-link__content {
      top:10px;
      right: 0px;
      bottom: 0px;
      left: 0;
    }
    .wrap__about-us-link {
      width: 100%;
      height: 100%;
      bottom: 0px;
      background-color: #000;
      padding: 0;
      position: absolute;
      right: 0;
}
   
 .wrap-menu-button__list{
    position: absolute;
    }
    .wrap-page-links__mob {
      display: none;
    }
    .wrap__page-links-mob {
      display: block;
     }
  .wrap__page-about-us {
    position: absolute;
    left: -40px;
    transform: rotate(-90deg);
    /*transform: rotate(-90deg) translate(-20%, -20%);*/
  }
  .wrap__page-item-contact {
    position: absolute;
    right: -45px;
    bottom: 40px;
    transform: rotate(-90deg);
    /*transform: rotate(-90deg) translate(-12%, -30%);*/
  }

  .page__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }
 
  .left-slide {
    position: relative;
  }

  .wrap__button {
    position: absolute;
    top: 50%;
    left: 48%;
  }

  .page__menu {
    height: 120px;
    justify-content: space-between;
    display: flex;
    position: relative;
  }

  .page__menu {
    width: 50%;
    display: flex;

    height: 100%;
    position: absolute;
    top: 10px;
    right: 20px;
  }
  .page__list {
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }

  .page__inner {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }

 

  .left-slide {
    position: relative;
  }

.hero__inner {
    flex-wrap: nowrap;
  }
  .hero__header {
height: 180px;
  }
  .icon__logo-white {
    display: block;
  }
  .wrap__page-links-mob {
    position: absolute;
    top: 0px;
    right: 0px;
    height: 100%;
    width: 50%;
    padding-left: 150px;
    z-index: 40;
  }
 
.page-item-contact-mob {
    z-index: 1;
    width: 100%;
   position: absolute;
    top: 0px;
    bottom: 100px;
    overflow: hidden;
 }
  .page-item__contact  {
    width: 100%;
    background-color: #000;
  }

  .wrap__page-item-contact {
    transform: none;
    position: absolute;
    z-index: 21;
    background-color: #000;
    bottom: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
  transition: top 1000s ease;
  }
 
  .wrap__contacts-link {
    z-index: 52;
    background-color: #000;
    padding: 0;
    top: 20px;
    left: 0;
    right: 20px;
    transform: rotate(0deg);
  }

 
  #contacts__link:focus.contacts__icon {
    display: block;
  }

  .menu__icon-mob {
    display: none;
  }
  .wrap__page-about-us-mob {
    position: relative;
  }
  .wrap__page-about-us-mob {
    width: 100%;
    height: 100%;
    transition: top 1000s;
    position: absolute;
    top: 0;
    bottom: 20px;
    left: 0;
    right: 0;
    transform: none
  }
 
  .wrap__page-about-us {
    width: 100%;
    height: 100%;
    transition: bottom 1000;
    position: absolute;
   right: 20px;
   top:20px;
    left: 0px;
    bottom: 0px;
    transform: none;
}

  .about-us-link__content {
    right: 20px;
    bottom: 20px;
   }
  .wrap__icon-about-us {
    cursor: pointer;
    display: none;
  }
  .open-about-us {
    text-align: right;
    text-transform: uppercase;
    cursor: pointer;
    color: #fff;
    background-color: #000;
    border: none;
    outline: none;
    padding-top: 0;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.2;
    transform: rotate(0deg);
  }
  .wrap__icon-about-us-mob {
    cursor: pointer;
    transform: rotate(-90deg);
  }
  .icon__about-us-mob {
    cursor: pointer;
    transform: rotate(-90deg);
  }
  .icon__about-us {
    cursor: pointer;
    transform: rotate(-90deg);
  }
  .menu-button__item:after {
    content: '';
    width: 25px;
    height: 25px;
  }
  .menu__icon {
    display: block;
  }
  .menu__button {
    font-size: 22px;
  }

 .icon__phone-desc {
    display: none;
  }
  .button__menu-open-mob {
    display: none;
    z-index: 70;
  }


  .wrap-menu-button__list {
    background-color: transparent;
   right: 50%;
    transition: transform 0.5s ease cubic-bezier(0.4, 0, 0.2, 1);
    
  }
 .menu-button__item:nth-child(1) {
      position: absolute;
      animation-delay: 1000ms;
      animation: none;
     transition: transform 0.5s ease;
  }
  
  @keyframes menuButton1 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
   
      100% {
          top: 5%;
          left: 90%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(1).reverse {
      animation: menuButton1 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 4000ms;
  }
  
  .menu-button__item:nth-child(2) {
      position: absolute;
      animation: none;
      animation-delay: 1200ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton2 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
   
      100% {
          top: 20%;
          left: 80%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(2).reverse {
      animation: menuButton2 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 3800ms;
  }
  
  .menu-button__item:nth-child(3) {
      position: absolute;
      animation: none;
      animation-delay: 1400ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton3 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
    
      100% {
          top: 38%;
          left: 74%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(3).reverse {
      animation: menuButton3 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 3600ms;
  }
  
  .menu-button__item:nth-child(4) {
      position: absolute;
      animation: none;
      animation-delay: 1600ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton4 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
     
      100% {
          top: 56%;
          left: 74%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(4).reverse {
      animation: menuButton4 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 3400ms;
  }
  
  .menu-button__item:nth-child(5) {
      position: absolute;
      animation: none;
      animation-delay: 1800ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton5 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
    
      100% {
          top: 75%;
          left: 81%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(5).reverse {
      animation: menuButton5 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 3200ms;
  }
  
  .menu-button__item:nth-child(6) {
      position: absolute;
      animation: none;
      animation-delay: 2000ms;
      transition: transform 0.5s ease;
  }
  
  @keyframes menuButton6 {
      0% {
          top: 50%;
          left: 100%;
          opacity: 0;
      }
     
      100% {
          top: 85%;
          left: 90%;
          opacity: 1;
      }
  }
  
  .menu-button__item:nth-child(6).reverse {
      animation: menuButton6 2s reverse forwards 2s;
      transition: transform 0.5s ease;
      animation-delay: 3000ms;
  }
.menu-button__item:nth-child(5)::after,
  .menu-button__item:nth-child(6)::after,
  .menu-button__item:nth-child(3)::after {
    transform: translate(-50%, 150%);
  }
}
/*@media screen and (min-width: 560px) and (max-width: 700px) {
  .menu-button__item:nth-child(2),
  .menu-button__item:nth-child(6) {
    left: 50px;
  }
}
@media screen and (min-width: 701px) and (max-width: 900px) {
  .menu-button__item:nth-child(2),
  .menu-button__item:nth-child(6) {
    left: 100px;
  }
}
@media screen and (min-width: 901px) and (max-width: 1000px) {
  .menu-button__item:nth-child(2),
  .menu-button__item:nth-child(6) {
    left: 140px;
  }
}
@media screen and (min-width: 1001px) and (max-width: 1500px) {
  .menu-button__item:nth-child(2),
  .menu-button__item:nth-child(6) {
    left: 200px;
  }
}*/
