<!DOCTYPE html>
<section class="page__contacts">
  <div class="page-contacts__container">
    <address class="page-contacts__address">
      <div class="addres__vancouver">
        <p class="address__description">Nameless AVE, Vancouver, Canada</p>
        <ul class="phone__list list">
          <li class="phone__item">
            <a href="tel:647 555 555 555" class="phone__link link"
              >647 555 555 555</a
            >
          </li>
          <li class="phone__item">
            <a href="tel:647 555 555 555" class="phone__link link"
              >647 555 555 555</a
            >
          </li>
        </ul>
      </div>
      <div class="addres__toronto">
        <p class="address__description">Nameless AVE, Vancouver, Canada</p>
        <div class="contacts__date">
          <ul class="phone__list list">
            <li class="phone__item">
              <a href="tel:647 555 555 555" class="phone__link link"
                >647 555 555 555</a
              >
            </li>
            <li class="phone__item">
              <a href="tel:647 555 555 555" class="phone__link link"
                >647 555 555 555</a
              >
            </li>
          </ul>
          <a href="" class="mail__link link">info@vd-re.com</a>
        </div>
      </div>
      <div class="address__map">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d33585.98914131967!2d-79.32120710488074!3d43.739596353523574!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89d4d21bc57badd1%3A0x78f2f16457d6af4c!2sCostco%20Wholesale!5e0!3m2!1sru!2sua!4v1692524353426!5m2!1sru!2sua"
          width="500"
          height="330"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"
        ></iframe>
      </div>
    </address>
  </div>
  <div class="wrap__button-contacts">
    <div class="button__contacts">
      <div class="contacts__icon">
        <svg
          class="contacts__icon"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          width="24px"
          height="11px"
        >
          <image
            x="0px"
            y="0px"
            width="24px"
            height="11px"
            xlink:href="data:img/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAALCAQAAADPPIVGAAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QA/4ePzL8AAAAHdElNRQfnCBQOGzZEjHmaAAAA60lEQVQoz33QPyiEcRgH8N+5/Cv5MzDchY3FJIuyWG6yyA2SwWhQMtwgg1IGik3JpAxu0S0WpXSTQRmltxhkujBQN1x3PiaU9z3Psz3f51NPT0pIqM6wHnrDYYhCPZaJd8ayCHfy8TS+nrahruETZQv6/gdZ+97V7FhxhUfzOpqDMXs+VGwZEow6w5u1ZJAyqIgXhZ/ZuANVTwqG42BCCQ9/TsjY9qpqU7+WX9Am5xxlM7pjb1hVUXNk4Bu0mnKNS7mEJwc9Zt1rODEpBF2WRCjKJq4HQbtFNyjJB3NOPds1It0UBMG0C7eOvwBXRS0ryi8n3AAAAABJRU5ErkJggg=="
          />
        </svg>
      </div>
      <button
        type="button"
        class="contacts-toggle with-before"
        id="js-open-contacts"
      >
        contacts
      </button>
    </div>
  </div>
</section>
<script src="./js/contacts.js"></script>