<!DOCTYPE html>

<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="wrap__slide">
        <div class="wrap__left-slide">
          <div class="img__left-slide">
            <div class="wrap__img">
              <picture class="img__slide"
                ><source
                  srcet="./images/1Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Up-mob.jpg"
                  media="(min-width:480px)"
                  type="image/webp" />
                <img src="./images/1Up-mob.jpg" class="img-slide__mob" />
                <img src="./images/1Up.jpg" class="img-slide__desc"
              /></picture>
            </div>
            <span class="title__left">Find yo</span>
          </div>
          <div class="wrap__img">
            <picture class="img__slide"
              ><source
                srcet="./images/2Up.jpg"
                media="(min-width:1200px)"
                type="image/webp" />
              <source
                srcet="./images/2Up-mob.jpg"
                media="(min-width:480px)"
                type="image/webp" />
              <img src="./images/2Up-mob.jpg" class="img-slide__mob" />
              <img src="./images/2Up.jpg" class="img-slide__desc"
            /></picture>
            <span class="title__left">Vast proper</span>
          </div>
          <div class="wrap__img">
            <picture class="img__slide"
              ><source
                srcet="./images/3Up.jpg"
                media="(min-width:1200px)"
                type="image/webp"
              />
              <img src="./images/3Up.jpg" class="img-slide__desc" />
            </picture>
            <span class="title__left">Trusted de</span>
          </div>
        </div>

        <div class="wrap__rigth-slide">
          <div class="wrap__img">
            <p class="title__right">ur home</p>
            <picture class="img__slide"
              ><source
                srcet="./images/1Down.jpg"
                media="(min-width:1200px)"
                type="image/webp" />
              <source
                srcet="./images/1Down.jpg"
                media="(min-width:480px)"
                type="image/webp" />
              <img src="./images/1Down-mob.jpg" class="img-slide__mob" />
              <img src="./images/1Down.jpg" class="img-slide__desc"
            /></picture>
            <span class="title__right">ur home</span>
          </div>
          <div class="wrap__img">
            <picture class="img__slide"
              ><source
                srcet="./images/2Down.jpg"
                media="(min-width:1200px)"
                type="image/webp" />
              <source
                srcet="./images/2Down.jpg"
                media="(min-width:480px)"
                type="image/webp" />
              <img src="./images/2Down-mob.jpg" class="img-slide__mob" />
              <img src="./images/2Down.jpg" class="img-slide__desc"
            /></picture>
            <span class="title__right">ty database</span>
          </div>
          <div class="wrap__img">
            <picture class="img__slide"
              ><source
                srcet="./images/3Down.jpg"
                media="(min-width:1200px)"
                type="image/webp" />
              <img src="./images/3Down.jpg" class="img-slide__desc"
            /></picture>
            <span class="title__right">velopers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="section__container"></div>
</section>
<section class="about__us">
  <div class="section__container"></div>
</section>
