<!DOCTYPE html>

<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="wrap__slide">
        <div class="wrap__left-slide">
          <div class="left__slide">
            <div class="img">
              <div class="wrap-title__left">
                <p class="title__left">Find you</p>
              </div>
              <picture class="img__slide"
                ><source
                  srcet="./images/1Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Up.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
            <div class="img">
              <div class="wrap-title__left">
                <p class="title__right">Vast proper</p>
              </div>
              <picture class="img__slide"
                ><source
                  srcet="./images/2Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/2Up.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
            <div class="img">
              <div class="wrap-title__left">
                <p class="title__left">Trusted dev</p>
              </div>
              <picture class="img__slide"
                ><source
                  srcet="./images/3Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/3Up.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
          </div>
        </div>

        <div class="wrap__rigth-slide">
          <div class="rigth__slide">
            <div class="img">
              <div class="wrap-title__right">
                <p class="title__right">ur home</p>
              </div>
              <picture class="img__slide"
                ><source
                  srcet="./images/1Down.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Down.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
            <div class="img">
              <div class="wrap-title__right">
                <p class="title__right">ty database</p>
              </div>

              <picture class="img__slide"
                ><source
                  srcet="./images/1Down.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Down.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
            <div class="img">
              <div class="wrap-title__right">
                <p class="title__right">velopers</p>
              </div>
              <picture class="img__slide"
                ><source
                  srcet="./images/1Down.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Down.jpg"
                  media="(min-width:480px)"
                  type="image/webp"
              /></picture>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="section__container"></div>
</section>
<section class="about__us">
  <div class="section__container"></div>
</section>
