<!DOCTYPE html>

<section class="hero">
  <div class="container">
    <div class="hero__inner">
      <div class="wrap__slide">
        <div class="wrap__left-slide">
          <div class="wrap__img">
            <img src="./images/1Up.jpg" class="img__slide" />
            <span class="text-overlay__left">Find yo</span>
          </div>
          <div class="wrap__img">
            <img src="./images/2Up.jpg" class="img__slide" /><span
              class="text-overlay__left"
              >Vast proper</span
            >
          </div>
          <div class="wrap__img">
            <img src="./images/3Up.jpg" class="img__slide" /><span
              class="text-overlay__left"
              >Trusted dev</span
            >
          </div>
        </div>

        <div class="wrap__rigth-slide">
          <div class="wrap__img">
            <img src="./images/1Down.jpg" class="img__slide" />
            <span class="text-overlay__rigth">ur home</span>
          </div>
          <div class="wrap__img">
            <img src="./images/2Down.jpg" class="img__slide" /><span
              class="text-overlay__rigth"
              >ty database</span
            >
          </div>
          <div class="wrap__img">
            <img src="./images/3Down.jpg" class="img__slide" />
            <span class="text-overlay__rigth">velopers</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="contacts">
  <div class="section__container"></div>
</section>
<section class="about__us">
  <div class="section__container"></div>
</section>
