<!DOCTYPE html>

<div class="swiper__hero" data-swiper-hero>
  <div class="slide">
    <div class="wrap__slide">
      <div class="wrap-slide__container"> 
        <div class="wrap-container__left-slide" data-slide-left>
        <div class="container__left-slide" >
          <div class="wrap__left-slide" >
          <div class="swiper-slide__left">
                <div class="wrap__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/1Up.jpg"
                      media="(min-width:1200px)"
                      type="image/webp" />
                <img
                      src="./images/1Up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                  /></picture>

                  <span class="title__left">Find yo</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/tablet.up.jpg"
                      media="(min-width:768px)"
                      type="image/webp" />
                <img
                      src="./images/tablet.up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                  /></picture>

                  <span class="title__left">Find yo</span>
                </div>
                <div class="mob__slide">
                <div class="mob__img-slide">
                  <picture class="img__slide">
                    <source
                      srcset="./images/mob.up.jpg"
                      media="min-width:480px"
                      type="image/webp"
                    />
                 
                    <img src="./images/mob.up.jpg" class="img-slide__mob" />
                  </picture>
                </div></div>
               
              </div>

              <div class="swiper-slide__left">
                <div class="wrap__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/2Up.jpg"
                      media="(min-width:1200px)"
                      type="image/webp" />
                  
                  
                    <img
                      src="./images/2Up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                  /></picture>
                  <span class="title__left">Vast proper</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                    srcet="./images/tablet2.up.jpg"
                      media="(min-width:768px)"
                      type="image/webp" />
                  
                  
                    <img
                    src="./images/tablet2.up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                  /></picture>
                  <span class="title__left">Vast proper</span>
                </div>
                <div class="mob__slide">
                  <div class="mob__img-slide">
                    <picture class="img__slide">
                      <source
                        srcset="./images/mob2.up.jpg"
                        media="min-width:480px"
                        type="image/webp"
                      />
                     <img src="./images/mob2.up.jpg" class="img-slide__mob" />
                    </picture>
                  </div>
                </div>
             
              </div>

              <div class="swiper-slide__left">
                <div class="wrap__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/3Up.jpg"
                      media="(min-width:1200px)"
                      type="image/webp"
                    />
                    <img
                      src="./images/3Up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__left">Trusted de</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/tablet3.up.jpg"
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <img
                      src="./images/tablet3.up.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__left">Trusted de</span>
                </div>
                <div class="mob__slide">
                  <div class="mob__img-slide">
                    <picture class="img__slide">
                      <source
                        srcset="./images/mob3.up.jpg"
                        media="min-width:480px"
                        type="image/webp"
                      />
                     
                      <img src="./images/mob3.up.jpg" class="img-slide__mob" />
                    </picture>
                  </div>
                  </div>
              </div>
          </div>
        </div>
      </div>
      <div class="wrap-container__right-slide" data-slide-right>
        <div class="container__right-slide" >
          <div class="wrap__right-slide">
            <div class="swiper-slide__right">
                <div class="wrap__img">
                  <picture class="img__slide">
                    <source
                      srcset="./images/3Down.jpg"
                      media="min-width:1200px"
                      type="image/webp"
                    />
                    <img
                      src="./images/3Down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__right">Developers</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/tablet.down.jpg"
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <img
                      src="./images/tablet.down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__left">Trusted de</span>
                </div>
                <div class="mob__slide">
                  <div class="mob__img-slide">
                    <picture class="img__slide">
                      <source
                        srcset="./images/mob.down.jpg"
                        media="min-width:480px"
                        type="image/webp"
                      />
                   
                      <img src="./images/mob.down.jpg" class="img-slide__mob" />
                    </picture>
                  </div>
                </div>
               </div>
    <div class="swiper-slide__right" data-swiper-parallax="-200">
                <div class="wrap__img" data-swiper-parallax="-200">
                  <picture class="img__slide" data-swiper-parallax="-200">
                    <source
                      srcset="./images/2Down.jpg"
                      media="min-width:1200px"
                      type="image/webp"
                    />
                    <source
                      srcset="./images/2Down.jpg"
                      media="min-width:480px"
                      type="image/webp"
                    />
                    <img
                      src="./images/2Down.jpg"
                      class="img-slide__mob"
                    />
                    <img
                      src="./images/2Down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__right">Ty Database</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/tablet2.down.jpg"
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <img
                      src="./images/tablet2.down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__left">Trusted de</span>
                </div>
                <div class="mob__slide">
                  <div class="mob__img-slide">
                    <picture class="img__slide">
                      <source
                        srcset="./images/mob2.down.jpg"
                        media="min-width:480px"
                        type="image/webp"
                      />
                     <img src="./images/mob2.down.jpg" class="img-slide__mob" />
                    </picture>
                  </div>
                </div>


               
              </div>

              <div class="swiper-slide__right" data-swiper-parallax="-300">
                <div class="wrap__img" data-swiper-parallax="-300">
                  <picture class="img__slide" data-swiper-parallax="-300">
                    <source
                      srcset="./images/1Down.jpg"
                      media="min-width:1200px"
                      type="image/webp"
                    />
                    <img
                      src="./images/1Down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__right">Your Home</span>
                </div>
                <div class="tablet__img">
                  <picture class="img__slide"
                    ><source
                      srcet="./images/tablet3.down.jpg"
                      media="(min-width:768px)"
                      type="image/webp"
                    />
                    <img
                      src="./images/tablet3.down.jpg"
                      class="img-slide__desc"
                      loading="lazy"
                      alt="house"
                    />
                  </picture>
                  <span class="title__left">Trusted de</span>
                </div>
                <div class="mob__slide">
                  <div class="mob__img-slide">
                    <picture class="img__slide">
                      <source
                        srcset="./images/mob3.down.jpg"
                        media="min-width:480px"
                        type="image/webp"
                      />
                      <source
                      srcset="./images/tablet3.down.jpg"
                      media="min-width:768px"
                      type="image/webp"
                    />
                      <img src="./images/mob3.down.jpg" class="img-slide__mob" />
                    </picture>
                  </div>
                </div>
            
              </div>
         
          </div>
        </div>
      </div></div>
     
    </div>
    </div>
  
  </div>