<!DOCTYPE html>

<div class="swiper__hero">
  <div class="wrap__slide">
    <div class="container__left-slide">
      <div class="swiper wrap__left-slide">
        <div class="swiper__wrapper">
          <div class="swiper-slide__left">
            <div class="wrap__img">
              <picture class="img__slide"
                ><source
                  srcet="./images/1Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/1Up-mob.jpg"
                  media="(min-width:480px)"
                  type="image/webp" />
                <img src="./images/1Up-mob.jpg" class="img-slide__mob" />
                <img
                  src="./images/1Up.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
              /></picture>

              <span class="title__left">Find yo</span>
            </div>
          </div>

          <div class="swiper-slide__left">
            <div class="wrap__img">
              <picture class="img__slide"
                ><source
                  srcet="./images/2Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp" />
                <source
                  srcet="./images/2Up-mob.jpg"
                  media="(min-width:480px)"
                  type="image/webp" />
                <img src="./images/2Up-mob.jpg" class="img-slide__mob" />
                <img
                  src="./images/2Up.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
              /></picture>
              <span class="title__left">Vast proper</span>
            </div>
          </div>

          <div class="swiper-slide__left">
            <div class="wrap__img">
              <picture class="img__slide"
                ><source
                  srcet="./images/3Up.jpg"
                  media="(min-width:1200px)"
                  type="image/webp"
                />
                <img
                  src="./images/3Up.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
                />
              </picture>
              <span class="title__left">Trusted de</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container__right-slide">
      <div class="swiper wrap__right-slide" data-swiper-parallax="-100">
        <div class="swiper__wrapper">
          <div class="swiper-slide__right" data-swiper-parallax="-100">
            <div class="wrap__img" data-swiper-parallax="-100">
              <picture class="img__slide" data-swiper-parallax="-100">
                <source
                  srcset="./images/3Down.jpg"
                  media="min-width:1200px"
                  type="image/webp"
                />
                <source
                  srcset="./images/1Down-mob.jpg"
                  media="min-width:480px"
                  type="image/webp"
                />
                <img src="./images/1Down-mob.jpg" class="img-slide__mob" />
                <img
                  src="./images/3Down.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
                />
              </picture>
              <span class="title__right">Developers</span>
            </div>
          </div>

          <div class="swiper-slide__right" data-swiper-parallax="-200">
            <div class="wrap__img" data-swiper-parallax="-200">
              <picture class="img__slide" data-swiper-parallax="-200">
                <source
                  srcset="./images/2Down.jpg"
                  media="min-width:1200px"
                  type="image/webp"
                />
                <source
                  srcset="./images/2Down.jpg"
                  media="min-width:480px"
                  type="image/webp"
                />
                <img src="./images/2Down-mob.jpg" class="img-slide__mob" />
                <img
                  src="./images/2Down.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
                />
              </picture>
              <span class="title__right">Ty Database</span>
            </div>
          </div>

          <div class="swiper-slide__right" data-swiper-parallax="-300">
            <div class="wrap__img" data-swiper-parallax="-300">
              <picture class="img__slide" data-swiper-parallax="-300">
                <source
                  srcset="./images/1Down.jpg"
                  media="min-width:1200px"
                  type="image/webp"
                />
                <img
                  src="./images/1Down.jpg"
                  class="img-slide__desc"
                  loading="lazy"
                  alt="house"
                />
              </picture>
              <span class="title__right">Your Home</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
